ComparePowerOutput.json
[{"id":"abaa2bb2.79b168","type":"tab","label":"Compare Two Locations Power Output","disabled":false,"info":""},{"id":"6ba3a528.96c1ec","type":"function","z":"abaa2bb2.79b168","name":"pass city, country","func":"msg.location={\"country\":global.get('country1'),\"city\":global.get('city1')};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":130,"y":420,"wires":[["f6af0807.b08228"]]},{"id":"2c435c28.a40744","type":"split","z":"abaa2bb2.79b168","name":"split","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":510,"y":380,"wires":[["a763707.ebf259"]]},{"id":"a54e1bc5.b83448","type":"join","z":"abaa2bb2.79b168","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":570,"y":440,"wires":[["d46c45.16f483b8"]]},{"id":"a763707.ebf259","type":"function","z":"abaa2bb2.79b168","name":"take relevant features from weather data","func":"msg.payload={\n       \"Timestamp\":msg.payload.dt,\n       \"Temperature\":msg.payload.main.temp,\n       \"WindSpeed\":msg.payload.wind.speed,\n       \"WindDirection\":msg.payload.wind.deg\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":380,"wires":[["a54e1bc5.b83448"]]},{"id":"aac437fa.769618","type":"join","z":"abaa2bb2.79b168","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1830,"y":600,"wires":[["d09cf608.dd7b38","d8ff6928.8c9af8","da91c23f.da2f5"]]},{"id":"bc2f1b14.d1e3e8","type":"function","z":"abaa2bb2.79b168","name":"setting msg.parts","func":"msg.parts={\"id\":\"12345\",\"type\":\"array\",\"count\":2,\"len\":13,\"index\":0}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1630,"y":500,"wires":[["aac437fa.769618"]]},{"id":"ae378d72.0b1df","type":"function","z":"abaa2bb2.79b168","name":"setting msg.parts","func":"msg.parts={\"id\":\"12345\",\"type\":\"array\",\"count\":2,\"len\":13,\"index\":1}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1630,"y":700,"wires":[["aac437fa.769618"]]},{"id":"f6af0807.b08228","type":"openweathermap","z":"abaa2bb2.79b168","name":"Get Weather Params","wtype":"forecast","lon":"","lat":"","city":"","country":"","language":"en","x":340,"y":420,"wires":[["2c435c28.a40744"]]},{"id":"144e6f77.64c1f1","type":"comment","z":"abaa2bb2.79b168","name":"User Interface Graph & Table","info":"","x":2460,"y":100,"wires":[]},{"id":"3dffca08.c32f56","type":"link in","z":"abaa2bb2.79b168","name":"","links":["f21dfd.09b752"],"x":2195,"y":520,"wires":[["fae32243.12345"]]},{"id":"39aad52.910f22a","type":"link in","z":"abaa2bb2.79b168","name":"","links":["4aa52ddb.e8d154","8c26b8b5.859ab8","f21dfd.09b752"],"x":2155,"y":640,"wires":[["b04d7357.29d66"]]},{"id":"d8ff6928.8c9af8","type":"function","z":"abaa2bb2.79b168","name":"power fetch for table","func":"\nvar l1=msg.payload[0];\nvar l2=msg.payload[1];\nvar pow=[];\nvar date;\nfor(var i = 0;i<=12 ; i++){\ndate = new Date(l1[i].Timestamp*1000);\ndate=date.toLocaleString(\"en-IN\",{timeZone:\"Asia/Kolkata\"});\npow.push({Time:date,Location_First_Power_Output:l1[i].Temperature, Location_Second_Power_Output:l2[i].Temperature});\n}\nmsg.payload=pow;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2040,"y":560,"wires":[["fae32243.12345"]]},{"id":"fae32243.12345","type":"ui_table","z":"abaa2bb2.79b168","group":"2a8c3ad4.5d7776","name":"Power Output Table","order":2,"width":"12","height":"5","columns":[],"outputs":0,"cts":false,"x":2310,"y":560,"wires":[]},{"id":"52b0141a.300f0c","type":"comment","z":"abaa2bb2.79b168","name":"Processing for location 1","info":"","x":560,"y":320,"wires":[]},{"id":"d09cf608.dd7b38","type":"function","z":"abaa2bb2.79b168","name":"Power Fetch For 2 Cities","func":"\n\nvar l1=msg.payload[0];\nvar l2=msg.payload[1];\nvar p1=[];\nvar p2=[];\nfor(var i = 0;i<=12 ; i++){\n   p1.push({x:l1[i].Timestamp*1000,y:l1[i].Temperature});\n   p2.push({x:l2[i].Timestamp*1000,y:l2[i].Temperature});\n}\nvar chart = [{\n    \"series\":[\"City 1 Power Output\",\"City 2 Power Output\"],\n        \"data\":[p1,p2],\n    \"labels\":[\"\"]\n}];\nmsg.payload=chart;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2010,"y":680,"wires":[["b04d7357.29d66"]]},{"id":"b04d7357.29d66","type":"ui_chart","z":"abaa2bb2.79b168","name":"","group":"2560c168.14e9ee","order":1,"width":"0","height":"0","label":"Wind Power Energy (in kW) Output TimeSeries Graph","chartType":"line","legend":"true","xformat":"auto","interpolate":"bezier","nodata":"Wind Speed Time Series Data","dot":true,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ec1c61","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2360,"y":680,"wires":[[]],"inputLabels":["Timestamp"],"outputLabels":["WindSpeed"]},{"id":"a3beb6d8.eef028","type":"ui_button","z":"abaa2bb2.79b168","name":"","group":"f89302c2.00fc3","order":1,"width":0,"height":0,"passthru":false,"label":"Predict And Compare Power Output","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":320,"wires":[["6ba3a528.96c1ec","41b7489.59c4eb8","c288c792.c2f6d8"]]},{"id":"1c3c1ef3.94c301","type":"ui_text","z":"abaa2bb2.79b168","group":"2a8c3ad4.5d7776","order":1,"width":0,"height":0,"name":"label power table","label":"","format":"Wind Energy Expected Power (in kW) Output Table","layout":"col-center","x":290,"y":60,"wires":[]},{"id":"c2421fc5.d42f4","type":"ui_button","z":"abaa2bb2.79b168","name":"","group":"4b70f00f.03ca8","order":2,"width":"0","height":"0","passthru":false,"label":"Reset","tooltip":"Clear Form and Graphs","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":110,"y":100,"wires":[["f21dfd.09b752"]]},{"id":"f21dfd.09b752","type":"link out","z":"abaa2bb2.79b168","name":"","links":["d6ca1253.3142f","502bfc30.e74d84","90319a77.61e2b8","86ed7319.9f943","39aad52.910f22a","12396e61.382f02","a3f687c4.6dcf28","3dffca08.c32f56"],"x":195,"y":100,"wires":[]},{"id":"989d94b4.c35208","type":"comment","z":"abaa2bb2.79b168","name":"Setting Properties in UI","info":"","x":220,"y":20,"wires":[]},{"id":"d46c45.16f483b8","type":"function","z":"abaa2bb2.79b168","name":"array length modifier","func":"var chartdata = msg.payload;\nvar array=[];\nvar points=24;\nfor(var i = 0;i<=points ; i=i+2){\n   array.push(chartdata[i]);\n}\nmsg.payload = array;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":440,"wires":[["ec4c57fc.96ab18"]]},{"id":"41b7489.59c4eb8","type":"function","z":"abaa2bb2.79b168","name":"pass city, country","func":"msg.location={\"country\":global.get('country2'),\"city\":global.get('city2')};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":130,"y":760,"wires":[["1528a8c6.cc33d7"]]},{"id":"dd6a1f18.0ce35","type":"split","z":"abaa2bb2.79b168","name":"split","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":470,"y":760,"wires":[["ac3f1004.125a3"]]},{"id":"d9dfa19f.20d2d","type":"join","z":"abaa2bb2.79b168","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":530,"y":820,"wires":[["78c6016c.9b012"]]},{"id":"ac3f1004.125a3","type":"function","z":"abaa2bb2.79b168","name":"take relevant features from weather data","func":"msg.payload={\n       \"Timestamp\":msg.payload.dt,\n       \"Temperature\":msg.payload.main.temp,\n       \"WindSpeed\":msg.payload.wind.speed,\n       \"WindDirection\":msg.payload.wind.deg\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":760,"wires":[["d9dfa19f.20d2d"]]},{"id":"1528a8c6.cc33d7","type":"openweathermap","z":"abaa2bb2.79b168","name":"Get Weather Params","wtype":"forecast","lon":"","lat":"","city":"","country":"","language":"en","x":300,"y":800,"wires":[["dd6a1f18.0ce35"]]},{"id":"78c6016c.9b012","type":"function","z":"abaa2bb2.79b168","name":"array length modifier","func":"var chartdata = msg.payload;\nvar array=[];\nvar points=24;\nfor(var i = 0;i<=points ; i=i+2){\n   array.push(chartdata[i]);\n}\nmsg.payload = array;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":820,"wires":[["715820a0.5a8bd"]]},{"id":"ea4f565f.171448","type":"ui_text_input","z":"abaa2bb2.79b168","name":"Country1","label":"Enter Country","tooltip":"","group":"f9b54d7e.34d44","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":201,"y":141,"wires":[["9f02853e.0a2498"]]},{"id":"61863671.4bbb18","type":"ui_text_input","z":"abaa2bb2.79b168","name":"City1","label":"Enter City","tooltip":"","group":"f9b54d7e.34d44","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":181,"y":181,"wires":[["155e72b7.56223d"]]},{"id":"d0bf06b7.1b87b8","type":"ui_text_input","z":"abaa2bb2.79b168","name":"Country2","label":"Enter Country","tooltip":"","group":"1488915d.ec254f","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":200,"y":220,"wires":[["e36c709.c6b489"]]},{"id":"d16910c0.cf884","type":"ui_text_input","z":"abaa2bb2.79b168","name":"City2","label":"Enter City","tooltip":"","group":"1488915d.ec254f","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":181,"y":261,"wires":[["ba38d742.e6a5b8"]]},{"id":"9f02853e.0a2498","type":"change","z":"abaa2bb2.79b168","name":"","rules":[{"t":"set","p":"country1","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":421,"y":141,"wires":[[]]},{"id":"155e72b7.56223d","type":"change","z":"abaa2bb2.79b168","name":"","rules":[{"t":"set","p":"city1","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":381,"y":181,"wires":[[]]},{"id":"e36c709.c6b489","type":"change","z":"abaa2bb2.79b168","name":"","rules":[{"t":"set","p":"country2","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":401,"y":221,"wires":[[]]},{"id":"ba38d742.e6a5b8","type":"change","z":"abaa2bb2.79b168","name":"","rules":[{"t":"set","p":"city2","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":361,"y":261,"wires":[[]]},{"id":"a3f687c4.6dcf28","type":"link in","z":"abaa2bb2.79b168","name":"","links":["f21dfd.09b752"],"x":75,"y":200,"wires":[["ea4f565f.171448","61863671.4bbb18","d0bf06b7.1b87b8","d16910c0.cf884"]]},{"id":"ec4c57fc.96ab18","type":"split","z":"abaa2bb2.79b168","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":950,"y":440,"wires":[["4531aa75.8ffaa4"]]},{"id":"4531aa75.8ffaa4","type":"function","z":"abaa2bb2.79b168","name":"PreToken","func":"msg.temp=msg.payload.Temperature;\nmsg.ws=msg.payload.WindSpeed;\nmsg.wd=msg.payload.WindDirection;\nmsg.t=msg.payload.Timestamp;\nvar apikey=\"wD1YYvTS0zL5lokplWvgFSqVgqzfSjcv0eHBWyj_MSaK\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg; ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":380,"wires":[["afa1380e.098118"]]},{"id":"afa1380e.098118","type":"http request","z":"abaa2bb2.79b168","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":1150,"y":440,"wires":[["3a3441a2.0f192e"]]},{"id":"3a3441a2.0f192e","type":"function","z":"abaa2bb2.79b168","name":"Pre Prediction","func":"var temp = msg.temp;\nvar ws=msg.ws;\nvar wd=msg.wd;\nvar array = [ws,temp,wd];\nvar token=msg.payload.access_token\nvar instance_id=\"fb623f56-308d-4a68-ba08-531736ca7fc7\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": \n[{\"fields\": [\"Unnamed: 0\", \"TimeStamp\", \"TotalWindSpeed[m/s]\", \"TotalTemperature[°C]\", \"TotalWindDirection[°]\"],\n\"values\": [[0,msg.t,ws,temp,wd]]\n}]};\n/*msg.payload={\"fields\": [\"TotalWindSpeed[m/s]\",\"TotalTemperature[°C]\",\"TotalWindDirection[°]\"], \n\"values\": [[ws,temp,wd]]};*/\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1280,"y":380,"wires":[["ef8ed6f4.483c58"]]},{"id":"ef8ed6f4.483c58","type":"http request","z":"abaa2bb2.79b168","name":"http request model2","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/a3aaa7ba-4449-49a0-8a87-70ad12b9df71/predictions","tls":"","persist":false,"proxy":"","authType":"","x":1380,"y":440,"wires":[["8cc3c8b3.65a638","f50a96e.4185b68"]]},{"id":"8cc3c8b3.65a638","type":"function","z":"abaa2bb2.79b168","name":"set power output","func":"var m2=msg.payload.predictions[0].values[0][0];\n\nmsg.payload={\n    \"Timestamp\":msg.t,\n    \"Temperature\":msg.temp,\n    \"WindSpeed\":msg.ws,\n    \"WindDirection\":msg.wd,\n    \"Power\":m2\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1530,"y":380,"wires":[["2b647691.274e2a"]]},{"id":"2b647691.274e2a","type":"join","z":"abaa2bb2.79b168","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1590,"y":440,"wires":[["bc2f1b14.d1e3e8"]]},{"id":"715820a0.5a8bd","type":"split","z":"abaa2bb2.79b168","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":930,"y":820,"wires":[["656df8e4.3ff908"]]},{"id":"656df8e4.3ff908","type":"function","z":"abaa2bb2.79b168","name":"PreToken","func":"msg.temp=msg.payload.Temperature;\nmsg.ws=msg.payload.WindSpeed;\nmsg.wd=msg.payload.WindDirection;\nmsg.t=msg.payload.Timestamp;\nvar apikey=\"wD1YYvTS0zL5lokplWvgFSqVgqzfSjcv0eHBWyj_MSaK\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg; ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":760,"wires":[["626b70ed.5ad9b"]]},{"id":"626b70ed.5ad9b","type":"http request","z":"abaa2bb2.79b168","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":1130,"y":820,"wires":[["d1b111ad.9d836"]]},{"id":"d1b111ad.9d836","type":"function","z":"abaa2bb2.79b168","name":"Pre Prediction","func":"var temp = msg.temp;\nvar ws=msg.ws;\nvar wd=msg.wd;\nvar array = [ws,temp,wd];\nvar token=msg.payload.access_token\nvar instance_id=\"fb623f56-308d-4a68-ba08-531736ca7fc7\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": \n[{\"fields\": [\"Unnamed: 0\", \"TimeStamp\", \"TotalWindSpeed[m/s]\", \"TotalTemperature[°C]\", \"TotalWindDirection[°]\"],\n\"values\": [[0,msg.t,ws,temp,wd]]\n}]};\n/*msg.payload={\"fields\": [\"TotalWindSpeed[m/s]\",\"TotalTemperature[°C]\",\"TotalWindDirection[°]\"], \n\"values\": [[ws,temp,wd]]};*/\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":760,"wires":[["a476042f.b40358"]]},{"id":"a476042f.b40358","type":"http request","z":"abaa2bb2.79b168","name":"http request model2","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/a3aaa7ba-4449-49a0-8a87-70ad12b9df71/predictions","tls":"","persist":false,"proxy":"","authType":"","x":1360,"y":820,"wires":[["c3e81b6c.9a8028"]]},{"id":"c3e81b6c.9a8028","type":"function","z":"abaa2bb2.79b168","name":"set power output","func":"var m2=msg.payload.predictions[0].values[0][0];\n\nmsg.payload={\n    \"Timestamp\":msg.t,\n    \"Temperature\":msg.temp,\n    \"WindSpeed\":msg.ws,\n    \"WindDirection\":msg.wd,\n    \"Power\":m2\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1510,"y":760,"wires":[["5beb4879.8ede38"]]},{"id":"5beb4879.8ede38","type":"join","z":"abaa2bb2.79b168","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1670,"y":760,"wires":[["ae378d72.0b1df"]]},{"id":"70a05ed4.47e39","type":"comment","z":"abaa2bb2.79b168","name":"Processing for location 2","info":"","x":530,"y":720,"wires":[]},{"id":"9b8181af.d0831","type":"comment","z":"abaa2bb2.79b168","name":"Using Machine Learning Model To Predict Power Output","info":"","x":1220,"y":600,"wires":[]},{"id":"97df1be.dd31fe8","type":"comment","z":"abaa2bb2.79b168","name":"Displaying Comparative Results in UI","info":"","x":2370,"y":620,"wires":[]},{"id":"d1133b98.990468","type":"comment","z":"abaa2bb2.79b168","name":"Taking Input from Users in UI","info":"","x":640,"y":180,"wires":[]},{"id":"395799f7.23a8e6","type":"ui_template","z":"abaa2bb2.79b168","group":"2560c168.14e9ee","name":"css template","order":2,"width":"0","height":"0","format":"<div ng-bind-html=\"msg.payload\"></div>\n<style>\n   body{\n        background-image: url(\"/images/windpower.jpg\");\n        background-size: cover;\n    }\n    \n    \n    #Compare_ButtonPower button{\n          border-radius: 6px;\n         font-weight: bold !important;\n         font-size:17px !important;\n         width:100%!important;\n         background-image: linear-gradient(to right,#357EC7,pink);\n    }\n    #Compare_Reset button{\n          border-radius: 6px;\n         font-weight: bold !important;\n         font-size:17px !important;\n         width:100%!important;\n         background-image: linear-gradient(to right,#357EC7,pink);\n    }\n    \n    \n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":110,"y":60,"wires":[[]]},{"id":"da91c23f.da2f5","type":"debug","z":"abaa2bb2.79b168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2030,"y":480,"wires":[]},{"id":"f50a96e.4185b68","type":"debug","z":"abaa2bb2.79b168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1440,"y":540,"wires":[]},{"id":"c288c792.c2f6d8","type":"debug","z":"abaa2bb2.79b168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":320,"wires":[]},{"id":"2a8c3ad4.5d7776","type":"ui_group","z":"","name":"Power Output Table","tab":"185be889.8dd917","order":5,"disp":false,"width":"12","collapse":false},{"id":"2560c168.14e9ee","type":"ui_group","z":"","name":"Power Output Graph","tab":"185be889.8dd917","order":6,"disp":false,"width":"12","collapse":false},{"id":"f89302c2.00fc3","type":"ui_group","z":"","name":"ButtonPower","tab":"185be889.8dd917","order":3,"disp":false,"width":"12","collapse":false},{"id":"4b70f00f.03ca8","type":"ui_group","z":"","name":"Reset","tab":"185be889.8dd917","order":4,"disp":false,"width":"12","collapse":false},{"id":"f9b54d7e.34d44","type":"ui_group","z":"","name":"Enter First Location","tab":"185be889.8dd917","order":1,"disp":true,"width":"6","collapse":false},{"id":"1488915d.ec254f","type":"ui_group","z":"","name":"Enter Second Location","tab":"185be889.8dd917","order":2,"disp":true,"width":"6","collapse":false},{"id":"185be889.8dd917","type":"ui_tab","z":"","name":"Compare","icon":"dashboard","order":10,"disabled":false,"hidden":false}]