UI/HomePage.json
[{"id":"39f52664.67e2ca","type":"tab","label":"Team Seven Home Page","disabled":false,"info":""},{"id":"e9435f48.08277","type":"ui_form","z":"39f52664.67e2ca","name":"Take Input","label":"","group":"13282b96.4a0564","order":1,"width":"0","height":"0","options":[{"label":"Enter Country Name","value":"country","type":"text","required":true,"rows":null},{"label":"Enter City Name","value":"city","type":"text","required":true,"rows":null},{"label":"Predict Power Output For Duration (in Hrs.)","value":"hours","type":"number","required":true,"rows":null},{"label":"Recommendation needed for Duration(In Hrs.)","value":"wtime","type":"number","required":true,"rows":null}],"formValue":{"country":"","city":"","hours":"","wtime":""},"payload":"","submit":"Predict Wind Energy Power Output ","cancel":"","topic":"","x":90,"y":380,"wires":[["832d3032.be695"]],"icon":"node-red-dashboard/ui_text.png","info":"<style>\n    label,text{\n       color:#181441!important; \n           }\n    button{\n          border-radius: 5px;\n         font-weight: bold !important;\n         font-size:17px !important;\n         width:100%!important;\n         background-image: linear-gradient(to right,#357EC7,pink) !important;\n    }\n</style>"},{"id":"832d3032.be695","type":"function","z":"39f52664.67e2ca","name":"pass city, country","func":"msg.location={\"city\":msg.payload.city,\"country\":msg.payload.country}\nglobal.set('hours',msg.payload.hours);\nglobal.set('wtime',msg.payload.wtime);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":320,"wires":[["d535858b.efad38"]]},{"id":"484dade.d07c954","type":"split","z":"39f52664.67e2ca","name":"split","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":530,"y":380,"wires":[["8fea5320.44933"]]},{"id":"484b707.55b7b9","type":"join","z":"39f52664.67e2ca","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":550,"y":440,"wires":[["e072d30b.695a4"]]},{"id":"8fea5320.44933","type":"function","z":"39f52664.67e2ca","name":"take relevant features from weather data","func":"msg.payload={\n       \"Timestamp\":msg.payload.dt,\n       \"Temperature\":msg.payload.main.temp,\n       \"WindSpeed\":msg.payload.wind.speed,\n       \"WindDirection\":msg.payload.wind.deg\n    }\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":380,"wires":[["484b707.55b7b9"]]},{"id":"a438685f.095b38","type":"http request","z":"39f52664.67e2ca","name":"one call api","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.openweathermap.org/data/2.5/onecall?lat={{{query1}}}&lon={{{query2}}}&exclude=minutely,current,daily&units=metric&appid=45561978bebde55a90ff2d4b6e248a57","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":740,"wires":[["49fcb4c5.1337cc"]]},{"id":"49fcb4c5.1337cc","type":"function","z":"39f52664.67e2ca","name":"fetching 48 hours array","func":"msg.payload=msg.payload.hourly;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":740,"wires":[["4e1f5d3.45dd7a4"]]},{"id":"4e1f5d3.45dd7a4","type":"split","z":"39f52664.67e2ca","name":"split","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":70,"y":800,"wires":[["c3110eaa.19f8c"]]},{"id":"11a67aba.6493c5","type":"change","z":"39f52664.67e2ca","name":"get lat,lon of city","rules":[{"t":"set","p":"query1","pt":"msg","to":"location.lat","tot":"msg"},{"t":"set","p":"query2","pt":"msg","to":"location.lon","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":100,"y":740,"wires":[["a438685f.095b38"]]},{"id":"8659bb26.b62418","type":"join","z":"39f52664.67e2ca","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":530,"y":800,"wires":[["6516d6c1.f3ab98"]]},{"id":"c3110eaa.19f8c","type":"function","z":"39f52664.67e2ca","name":"take relevant features from weather data","func":"msg.payload={\n       \"Timestamp\":msg.payload.dt,\n       \"Temperature\":msg.payload.temp,\n       \"WindSpeed\":msg.payload.wind_speed,\n       \"WindDirection\":msg.payload.wind_deg\n    }\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":800,"wires":[["8659bb26.b62418"]]},{"id":"4e828a18.45b784","type":"join","z":"39f52664.67e2ca","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":610,"y":580,"wires":[["aad8582.9aba7a8"]]},{"id":"e072d30b.695a4","type":"function","z":"39f52664.67e2ca","name":"setting msg.parts","func":"msg.parts={\"id\":\"12345\",\"type\":\"array\",\"count\":2,\"len\":40,\"index\":0}\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":440,"wires":[["4e828a18.45b784"]]},{"id":"6516d6c1.f3ab98","type":"function","z":"39f52664.67e2ca","name":"setting msg.parts","func":"msg.parts={\"id\":\"12345\",\"type\":\"array\",\"count\":2,\"len\":48,\"index\":1}\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":800,"wires":[["4e828a18.45b784"]]},{"id":"af698254.6c20e","type":"function","z":"39f52664.67e2ca","name":"array length modifier","func":"var chartdata = msg.payload;\nvar array=[];\nvar h=global.get('hours');\nvar points=h;\nif(h>47)\n{points=Math.ceil(h/3);}\nglobal.set('points',points);\nfor(var i = 0;i<=points ; i++){\n   array.push(chartdata[i]);\n}\nmsg.payload = array;\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":580,"wires":[["f965e0aa.70663"]]},{"id":"aad8582.9aba7a8","type":"function","z":"39f52664.67e2ca","name":"get right array (hours)","func":"var h=global.get('hours');\nif(h<48)\n{\n    msg.payload=msg.payload[1];\n}\nelse\n{\n    msg.payload=msg.payload[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":580,"wires":[["af698254.6c20e"]]},{"id":"5a4699ff.ab52f8","type":"function","z":"39f52664.67e2ca","name":"PreToken","func":"msg.temp=msg.payload.Temperature;\nmsg.ws=msg.payload.WindSpeed;\nmsg.wd=msg.payload.WindDirection;\nmsg.t=msg.payload.Timestamp;\nvar apikey=\"wD1YYvTS0zL5lokplWvgFSqVgqzfSjcv0eHBWyj_MSaK\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg; ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1380,"y":360,"wires":[["11ead882.f1ee57"]]},{"id":"11ead882.f1ee57","type":"http request","z":"39f52664.67e2ca","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":1450,"y":420,"wires":[["57363439.dd6aec"]]},{"id":"57363439.dd6aec","type":"function","z":"39f52664.67e2ca","name":"Pre Prediction","func":"var temp = msg.temp;\nvar ws=msg.ws;\nvar wd=msg.wd;\nvar array = [ws,temp,wd];\nvar token=msg.payload.access_token\nvar instance_id=\"fb623f56-308d-4a68-ba08-531736ca7fc7\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n/*msg.payload={\"input_data\":\n[{\"fields\": [\"TotalWindSpeed[m/s]\",\"TotalTemperature[°C]\",\"TotalWindDirection[°]\"], \n\"values\": [[array]]\n    }]};*/\n\nmsg.payload={\"fields\": [\"TotalWindSpeed[m/s]\",\"TotalTemperature[°C]\",\"TotalWindDirection[°]\"], \n\"values\": [[ws,temp,wd]]};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1600,"y":360,"wires":[["f24ac569.39ca88"]]},{"id":"f24ac569.39ca88","type":"http request","z":"39f52664.67e2ca","name":"http request lstm","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/fb623f56-308d-4a68-ba08-531736ca7fc7/deployments/76008526-1bbb-4be7-92d8-12ca72046f44/online","tls":"","persist":false,"proxy":"","authType":"","x":1690,"y":420,"wires":[["5e1b95f7.7050ac"]]},{"id":"5e1b95f7.7050ac","type":"function","z":"39f52664.67e2ca","name":"save lstm output","func":"msg.m1=msg.payload.values[0][0][0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1840,"y":360,"wires":[["eb611ce0.9b271"]]},{"id":"f965e0aa.70663","type":"split","z":"39f52664.67e2ca","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1270,"y":420,"wires":[["5a4699ff.ab52f8"]]},{"id":"c0f8f863.b19d68","type":"function","z":"39f52664.67e2ca","name":"clear form","func":"msg={};\nmsg.payload={};\nmsg.payload.city='';\nmsg.payload.country='';\nmsg.payload.hours='';\nmsg.payload.wtime='';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":70,"y":340,"wires":[["e9435f48.08277"]]},{"id":"4e29d71b.8a15d8","type":"link in","z":"39f52664.67e2ca","name":"","links":["92df687a.dce868"],"x":60,"y":300,"wires":[["c0f8f863.b19d68"]]},{"id":"1f5e3117.f9f7bf","type":"comment","z":"39f52664.67e2ca","name":"using ML Model 1","info":"","x":1280,"y":300,"wires":[]},{"id":"f89cd95.49a8228","type":"ui_template","z":"39f52664.67e2ca","group":"efdd256d.2f0188","name":"css template","order":4,"width":"11","height":"1","format":"<div ng-bind-html=\"msg.payload\"></div>\n<style>\n    body{\n        background-image: url(\"/images/wind.jpg\");\n        background-size: cover;\n    }\n    \n    md-sidenav{\n    top: 48px !important;\n    z-index: 99;\n    width:50%!important;\n    }\n    label,text{\n       color:#181441!important; \n           }\n    #Predict-Wind-Energy-Output-Home_Tempgraph button{\n          border-radius: 6px;\n         font-weight: bold !important;\n         font-size:17px !important;\n         width:100%!important;\n         background-image: linear-gradient(to right,#357EC7,pink);\n    }\n    #Predict-Wind-Energy-Output-Home_reset button{\n          border-radius: 10px;\n         font-weight: bold !important;\n         font-size:17px !important;\n         width:100%!important;\n         background-image: linear-gradient(to right,#357EC7,pink);\n    }\n    #Predict-Wind-Energy-Output-Home_Input_Parameters button{\n          border-radius: 5px;\n         font-weight: bold !important;\n         font-size:17px !important;\n         width:100%!important;\n         height:40px!important;\n         background-image: linear-gradient(to right,#357EC7,pink);\n    }\n    \n    \n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":110,"y":180,"wires":[[]]},{"id":"d535858b.efad38","type":"openweathermap","z":"39f52664.67e2ca","name":"Get Weather Params","wtype":"forecast","lon":"","lat":"","city":"","country":"","language":"en","x":340,"y":380,"wires":[["484dade.d07c954","11a67aba.6493c5"]]},{"id":"df9b079b.597db8","type":"ui_text","z":"39f52664.67e2ca","group":"734ee909.dd4398","order":1,"width":0,"height":0,"name":"label power table","label":"","format":"Wind Energy Expected Power Output Table","layout":"col-center","x":330,"y":220,"wires":[]},{"id":"5f8e53fb.313f1c","type":"ui_text","z":"39f52664.67e2ca","group":"efdd256d.2f0188","order":1,"width":0,"height":0,"name":"label best time predictor","label":"","format":"Best Time To Utilize The Energy From Wind Farm","layout":"col-center","x":330,"y":180,"wires":[]},{"id":"390fd221.b97f3e","type":"function","z":"39f52664.67e2ca","name":"PreToken","func":"\nvar apikey=\"wD1YYvTS0zL5lokplWvgFSqVgqzfSjcv0eHBWyj_MSaK\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg; ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":140,"wires":[["325466af.9c057a"]]},{"id":"325466af.9c057a","type":"http request","z":"39f52664.67e2ca","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":1430,"y":200,"wires":[["dd6fde92.0fef2"]]},{"id":"dd6fde92.0fef2","type":"function","z":"39f52664.67e2ca","name":"Pre Prediction","func":"var temp = msg.temp;\nvar ws=msg.ws;\nvar wd=msg.wd;\nvar array = [ws,temp,wd];\nvar token=msg.payload.access_token\nvar instance_id=\"fb623f56-308d-4a68-ba08-531736ca7fc7\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": \n[{\"fields\": [\"Unnamed: 0\", \"TimeStamp\", \"TotalWindSpeed[m/s]\", \"TotalTemperature[°C]\", \"TotalWindDirection[°]\"],\n\"values\": [[0,msg.t,ws,temp,wd]]\n}]};\n/*msg.payload={\"fields\": [\"TotalWindSpeed[m/s]\",\"TotalTemperature[°C]\",\"TotalWindDirection[°]\"], \n\"values\": [[ws,temp,wd]]};*/\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1560,"y":140,"wires":[["e6d66d39.02d0b"]]},{"id":"e6d66d39.02d0b","type":"http request","z":"39f52664.67e2ca","name":"http request model2","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/a3aaa7ba-4449-49a0-8a87-70ad12b9df71/predictions","tls":"","persist":false,"proxy":"","authType":"","x":1660,"y":200,"wires":[["4878cce8.3a4c84"]]},{"id":"4878cce8.3a4c84","type":"function","z":"39f52664.67e2ca","name":"set power output","func":"var m2=msg.payload.predictions[0].values[0][0];\nvar m1=msg.m1;\nvar min=m1;\nvar max=m2;\nif(m1<=0)\n{\n    min=m2/2;\n}\nelse\n{\n    if(m2<m1)\n    {\n        min=m2;\n        max=m1;\n    }\n}\nvar mean= min+((max-min)/2);\n\nmsg.payload={\n    \"Timestamp\":msg.t,\n    \"Temperature\":msg.temp,\n    \"WindSpeed\":msg.ws,\n    \"WindDirection\":msg.wd,\n    \"MinPower\":min,\n    \"MaxPower\":max,\n    \"MeanPower\":mean\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1810,"y":140,"wires":[["f2f6f8b8.bd2548"]]},{"id":"f2f6f8b8.bd2548","type":"join","z":"39f52664.67e2ca","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1870,"y":200,"wires":[["2c62de64.de6962","61ece779.f2b028"]]},{"id":"c0ad6750.ba8328","type":"comment","z":"39f52664.67e2ca","name":"using ML Model 2","info":"","x":1280,"y":80,"wires":[]},{"id":"b0d6863b.ed8b28","type":"link in","z":"39f52664.67e2ca","name":"","links":["eb611ce0.9b271"],"x":1255,"y":140,"wires":[["390fd221.b97f3e"]]},{"id":"eb611ce0.9b271","type":"link out","z":"39f52664.67e2ca","name":"","links":["b0d6863b.ed8b28"],"x":1955,"y":360,"wires":[]},{"id":"2c62de64.de6962","type":"link out","z":"39f52664.67e2ca","name":"","links":["1d4db7c8.f9e8d8","52f2773e.8bcd68","907aa241.b61cd"],"x":1915,"y":240,"wires":[]},{"id":"61ece779.f2b028","type":"csv","z":"39f52664.67e2ca","name":"","sep":",","hdrin":"","hdrout":"all","multi":"one","ret":"\\n","temp":"Timestamp,Temperature,WindSpeed,WindDirection,MinPower,MaxPower,MeanPower","skip":"0","strings":true,"include_empty_strings":true,"include_null_values":true,"x":2150,"y":60,"wires":[["b8374473.ed99a8"]]},{"id":"35668594.55625a","type":"comment","z":"39f52664.67e2ca","name":"User Interface Graph & Table","info":"","x":2440,"y":100,"wires":[]},{"id":"d41db4f1.bb0f08","type":"ui_text","z":"39f52664.67e2ca","group":"efdd256d.2f0188","order":2,"width":0,"height":0,"name":"","label":"From","format":"{{payload | date:\"medium\"}}","layout":"col-center","x":2390,"y":440,"wires":[]},{"id":"d13c907e.fe391","type":"ui_text","z":"39f52664.67e2ca","group":"efdd256d.2f0188","order":3,"width":0,"height":0,"name":"","label":"To","format":"{{payload | date:\"medium\"}}","layout":"col-center","x":2410,"y":540,"wires":[]},{"id":"3f1e5275.3fca5e","type":"function","z":"39f52664.67e2ca","name":"get best time algorithm","func":"var chart = msg.payload;\nvar p=global.get('points');\nvar t=global.get('wtime');\nvar t1=0;\nvar t2=p;\nvar hours=global.get('hours');\nif(t<hours)\n{\n  if(hours>47)\n  {\n      t=Math.ceil(t/3);\n  }\n      var curr_max = 0;\n      t2=t;\n    for (var i = 0; i <=t; i++)\n    {\n\t\tcurr_max += chart[i].MeanPower;\n\t}\n\n\tvar max_so_far = curr_max;\n\n\tfor (var j =t+1 ; j <= p; j++) {\n\t\tcurr_max += (chart[j].MeanPower - chart[j-t-1].MeanPower);\n\t\t// Each time we get a new curr_sum compare it with max_so_far and update max_so_far if it is greater than max_so_far    \n\t\tif(curr_max> max_so_far)\n\t\t{\n\t\t    max_so_far=curr_max;\n\t\t    t1=j-t;\n\t\t    t2=j;\n\t\t}\n\t}\n}\nvar msg1={};\nvar msg2={};\nmsg1.payload=(chart[t1].Timestamp)*1000;\nmsg2.payload=(chart[t2].Timestamp)*1000;\nreturn [msg1,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":2240,"y":500,"wires":[["d41db4f1.bb0f08"],["d13c907e.fe391"]]},{"id":"8355f4db.6b2d98","type":"link in","z":"39f52664.67e2ca","name":"","links":["92df687a.dce868"],"x":2235,"y":460,"wires":[["d41db4f1.bb0f08","d13c907e.fe391"]]},{"id":"1b819950.794227","type":"comment","z":"39f52664.67e2ca","name":"Best Time for Running Wind Mill for given Time Window","info":"","x":2300,"y":400,"wires":[]},{"id":"52f2773e.8bcd68","type":"link in","z":"39f52664.67e2ca","name":"","links":["2c62de64.de6962"],"x":2095,"y":500,"wires":[["3f1e5275.3fca5e"]]},{"id":"907aa241.b61cd","type":"link in","z":"39f52664.67e2ca","name":"","links":["2c62de64.de6962"],"x":2075,"y":200,"wires":[["b6634abc.9da0d8","3fad2c6e.592df4","9c1bdc73.00b94","bca21075.b5a84"]]},{"id":"b6634abc.9da0d8","type":"function","z":"39f52664.67e2ca","name":"power fetch for graph","func":"var chartdata = msg.payload;\nvar pow=[];\n\nvar p=global.get('points');\n\nfor(var i = 0;i<=p ; i++){\n   pow.push({x:chartdata[i].Timestamp*1000,y:chartdata[i].MeanPower});\n    \n}\nvar chart = [{\n    \"series\":[\"Power\"],\n        \"data\":[pow],\n    \"labels\":[\"\"],\n}];\n\nmsg.payload=chart;\nmsg.topic='Power';\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2220,"y":140,"wires":[["3abb2c3a.0af494"]]},{"id":"3abb2c3a.0af494","type":"ui_chart","z":"39f52664.67e2ca","name":"","group":"22202501.3d00ba","order":1,"width":"0","height":"0","label":"Wind Power Energy (in kW) Output TimeSeries Graph","chartType":"line","legend":"true","xformat":"auto","interpolate":"cubic","nodata":"Wind Power Output Time Series Data","dot":true,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#0a1331","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2560,"y":140,"wires":[[]],"inputLabels":["Timestamp"],"outputLabels":["Power"]},{"id":"33da697e.d0b8c6","type":"link in","z":"39f52664.67e2ca","name":"","links":["4aa52ddb.e8d154","92df687a.dce868"],"x":2335,"y":160,"wires":[["3abb2c3a.0af494","a4058b51.418b58"]]},{"id":"3fad2c6e.592df4","type":"function","z":"39f52664.67e2ca","name":"power fetch for table","func":"var chartdata = msg.payload;\nvar pow=[];\nvar p=global.get('points');\nvar date;\nfor(var i = 0;i<=p ; i++){\n    \ndate = new Date(chartdata[i].Timestamp*1000);\ndate=date.toLocaleString(\"en-IN\",{timeZone:\"Asia/Kolkata\"});\npow.push({Time:date,Minimum_Power:chartdata[i].MinPower, Maximum_Power:chartdata[i].MaxPower});\n}\nmsg.payload=pow;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2220,"y":200,"wires":[["a4058b51.418b58"]]},{"id":"a4058b51.418b58","type":"ui_table","z":"39f52664.67e2ca","group":"734ee909.dd4398","name":"Power Output Table","order":2,"width":"11","height":"5","columns":[],"outputs":0,"cts":false,"x":2450,"y":200,"wires":[]},{"id":"bf554e4a.3bf3c","type":"link in","z":"39f52664.67e2ca","name":"","links":["92df687a.dce868"],"x":2315,"y":260,"wires":[["1a00aa03.86c486","45d9cccb.7a47a4"]]},{"id":"1a00aa03.86c486","type":"ui_chart","z":"39f52664.67e2ca","name":"","group":"1e379aa0.bc5115","order":2,"width":"0","height":"0","label":"Temperature (in Celius) Time Series Data","chartType":"line","legend":"true","xformat":"auto","interpolate":"bezier","nodata":"Temperature Time Series Data","dot":true,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#a92799","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2520,"y":240,"wires":[[]],"inputLabels":["Timestamp"],"outputLabels":["Temperature, WindSpeed"]},{"id":"9c1bdc73.00b94","type":"function","z":"39f52664.67e2ca","name":"temp fetch","func":"var chartdata = msg.payload;\nvar temp=[];\n\nvar p=global.get('points');\n\nfor(var i = 0;i<=p ; i++){\n   temp.push({x:chartdata[i].Timestamp*1000,y:chartdata[i].Temperature});\n    \n}\nvar tempchart = [{\n    \"series\":[\"Temperature\"],\n        \"data\":[temp],\n    \"labels\":[\"\"],\n}];\n\nmsg.payload=tempchart;\nmsg.topic='Temperature';\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":2190,"y":240,"wires":[["1a00aa03.86c486"]]},{"id":"bca21075.b5a84","type":"function","z":"39f52664.67e2ca","name":"wind fetch","func":"var chartdata = msg.payload;\n\nvar wind=[];\nvar p=global.get('points');\n\nfor(var i = 0;i<=p ; i++){\n   //temp.push({x:chartdata[i].Timestamp*1000,y:chartdata[i].Temperature});\n    wind.push({x:chartdata[i].Timestamp*1000,y:chartdata[i].WindSpeed});\n}\n\nvar windchart = [{\n    \"series\":[\"WindSpeed\"],\n        \"data\":[wind],\n    \"labels\":[\"\"],\n}];\n\nmsg.payload=windchart;\nmsg.topic='WindSpeed';\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":2180,"y":280,"wires":[["45d9cccb.7a47a4"]]},{"id":"45d9cccb.7a47a4","type":"ui_chart","z":"39f52664.67e2ca","name":"","group":"ceec2573.d57dd8","order":1,"width":"0","height":"0","label":"Wind Speed (in m/s) Time Series Data","chartType":"line","legend":"true","xformat":"auto","interpolate":"bezier","nodata":"Wind Speed Time Series Data","dot":true,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#153105","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2510,"y":280,"wires":[[]],"inputLabels":["Timestamp"],"outputLabels":["WindSpeed"]},{"id":"7dc71533.a78bfc","type":"comment","z":"39f52664.67e2ca","name":"Using openweathermap 5 day forecast","info":"","x":580,"y":320,"wires":[]},{"id":"20d22b47.324af4","type":"comment","z":"39f52664.67e2ca","name":"Using openweathermap one call api","info":"","x":252,"y":693,"wires":[]},{"id":"5f742387.17642c","type":"ui_button","z":"39f52664.67e2ca","name":"","group":"55af5d31.608024","order":1,"width":"0","height":"0","passthru":false,"label":"Reset","tooltip":"Clear Form and Graphs","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":110,"y":220,"wires":[["92df687a.dce868"]],"info":"<style>\n    label,text{\n       color:#181441!important; \n           }\n    button{\n          border-radius: 5px;\n         font-weight: bold !important;\n         font-size:17px !important;\n         width:100%!important;\n         background-image: linear-gradient(to right,#357EC7,pink) !important;\n    }\n</style>"},{"id":"92df687a.dce868","type":"link out","z":"39f52664.67e2ca","name":"","links":["4e29d71b.8a15d8","502bfc30.e74d84","8355f4db.6b2d98","86ed7319.9f943","33da697e.d0b8c6","bf554e4a.3bf3c"],"x":195,"y":220,"wires":[]},{"id":"41c5102f.e81b7","type":"comment","z":"39f52664.67e2ca","name":"Setting Properties in UI","info":"","x":220,"y":140,"wires":[]},{"id":"d09cef0d.55349","type":"debug","z":"39f52664.67e2ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","statusVal":"","statusType":"auto","x":2660,"y":60,"wires":[]},{"id":"b8374473.ed99a8","type":"cos-put","z":"39f52664.67e2ca","name":"store-in-cos","bucket":"outputseven","create":"0","objectname":"data.csv","mode":"1","filepath":"","filename":"","contentType":"text/comma-separated-values","geturl":true,"cosconfig":"c2f227fe.a9e6b8","x":2290,"y":60,"wires":[["914f6cb.e38909"]]},{"id":"914f6cb.e38909","type":"ui_template","z":"39f52664.67e2ca","group":"734ee909.dd4398","name":"CSV Download Button","order":3,"width":0,"height":0,"format":"\n<a href=\"{{msg.url}}\" download=\"powerdata\">\n\t<md-button style=\"border-radius: 3px;\n         font-weight: bold !important;\n         font-size:16px !important;\n         height:100%!important;\n         width:100%!important;\n         background-image: linear-gradient(to right,#357EC7,pink);\">\n\t    Download Power Output CSV File\n\t    </md-button>\n</a>\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":2480,"y":60,"wires":[["d09cef0d.55349"]]},{"id":"259a618.3de399e","type":"ui_button","z":"39f52664.67e2ca","name":"","group":"1e379aa0.bc5115","order":1,"width":0,"height":0,"passthru":false,"label":"Weather Data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":540,"y":180,"wires":[[]]},{"id":"13282b96.4a0564","type":"ui_group","z":"","name":"Input_Parameters","tab":"535a043d.133b7c","order":2,"disp":false,"width":"11","collapse":false},{"id":"efdd256d.2f0188","type":"ui_group","z":"","name":"Best Time to Utilize the Energy from Wind Farm","tab":"535a043d.133b7c","order":6,"disp":false,"width":"11","collapse":false},{"id":"734ee909.dd4398","type":"ui_group","z":"39f52664.67e2ca","name":"Power Output Table","tab":"535a043d.133b7c","order":3,"disp":false,"width":"11","collapse":false},{"id":"22202501.3d00ba","type":"ui_group","z":"","name":"Power Output graph","tab":"535a043d.133b7c","order":4,"disp":false,"width":"11","collapse":false},{"id":"1e379aa0.bc5115","type":"ui_group","z":"","name":"Tempgraph","tab":"535a043d.133b7c","order":7,"disp":false,"width":"11","collapse":false},{"id":"ceec2573.d57dd8","type":"ui_group","z":"","name":"wind graph","tab":"535a043d.133b7c","order":8,"disp":false,"width":"11","collapse":false},{"id":"55af5d31.608024","type":"ui_group","z":"","name":"reset","tab":"535a043d.133b7c","order":1,"disp":false,"width":"11","collapse":false},{"id":"c2f227fe.a9e6b8","type":"cos-config","z":"","apiKeyId":"7uwcauLyFfi2mlinHPF479hFuMFn0DYXE-YPDMXri344","location":"us-south","ibmAuthEndpoint":"https://iam.ng.bluemix.net/oidc/token","endpoint":"s3.us-south.objectstorage.softlayer.net","serviceInstanceId":"crn:v1:bluemix:public:cloud-object-storage:global:a/a0c810d9de024db48fdb35c1602dc231:fb04b8b1-935c-4143-b81d-86822ce7cfae::","hmac":true,"accesskeyid":"0c6b18490eb643e29e0a79d332dd0d6c","accesskey":"0b6b43b7cb80553c3e06ec44c8db2dbf08f7f77a6fe5dd18","name":"outputapp"},{"id":"535a043d.133b7c","type":"ui_tab","z":"","name":"Predict-Wind-Energy-Output-Home","icon":"dashboard","order":6,"disabled":false,"hidden":false}]